.gradle
build
out
.idea
*.iml

.env
.env.*
!.env.example
!.env.dev.example
!.env.test.example
!.env.prod.example

*.json
adminsdk-service-account-key.json
firebase-service-account.json

load-tests/result-local.txt