SPRING_PROFILES_ACTIVE=prod
DB_URL=jdbc:postgresql://your-db-host:5432/cleaningapp
DB_USERNAME=your_prod_db_username
DB_PASSWORD=your_prod_db_password
FIREBASE_ADMIN_KEY_PATH=file:/run/secrets/firebase-admin-key.json